// COLORS
// ----------------------------------------------

$white                                  : #fff;
$black                                  : #000;
$primary                                : #39475e;
$gray                                   : mix( #e3e5e7, $primary, 85%);





// BODY
// ----------------------------------------------
$body-bg                                : $white;
$body-color                             : #7a878e;


// Components active state
// ----------------------------------------------
$component-active-color                 : $white;
$component-active-bg                    : $primary;


// Border-variables
// ----------------------------------------------
$border-width                           : 1px;
$border-color                           : shade-color( $body-bg, 5% );


// links and Headings
// ----------------------------------------------
$link-color                             : shade-color( $component-active-bg, 5% );
$link-shade-percentage                  : 35%;
$link-hover-color                       : shade-color( $link-color, $link-shade-percentage );
$headings-color                         : shade-color( $component-active-bg, 50% );



// Boxed layout
// ----------------------------------------------
$boxed-layout-bg-color                  : mix( #bbb, shade-color( $primary, 40% ), 70%);





// COMPONENTS
// ----------------------------------------------

// Searchbox
// ----------------------------------------------
$searchbox-focus-bg                     : shade-color( $body-bg, 3% );





// CONTENTS
// ----------------------------------------------
$content-bg                             : $body-bg;
$content-color                          : $body-color;
$content-title-color                    : $primary;




// MAIN NAVIGATION
// ----------------------------------------------
$mainnav-bg                             : $content-bg;
$mainnav-color                          : shade-color($content-color, 10%);


// Menu
// ----------------------------------------------
$mainnav-menu-hover-color               : shade-color($component-active-bg, 37%);
$mainnav-menu-active-color              : $component-active-bg;
$mainnav-menu-icon-color                : tint-color($mainnav-color, 55%);
$mainnav-menu-active-icon-color         : $component-active-bg;


// Max Mode
// ----------------------------------------------
$mainnav-max-menu-active-bg             : $component-active-bg;
$mainnav-max-menu-active-color          : $component-active-color;


// Mini mode
// ----------------------------------------------
$mainnav-min-menu-active-bg            : $mainnav-max-menu-active-bg;
$mainnav-mini-menu-active-color         : $mainnav-max-menu-active-color;





// HEADERS
// ----------------------------------------------
$header-bg                              : $body-bg;
$header-color                           : tint-color( $component-active-bg, 40% );
$header-btn-hover-bg                    : $searchbox-focus-bg;
$header-btn-hover-color                 : tint-color( $header-color, 20% );


// Expanded Header
// ----------------------------------------------
$header-expand-bg                       : $header-bg;
$header-expand-color                    : $body-color;
$header-expand-headings-color           : tint-color($gray, 30%);
$header-expand-title-color              : $content-title-color;
$header-expand-use-start-ouside-radius  : true;


// Brand
// ----------------------------------------------
$brand-bg                               : $component-active-bg;
$brand-color                            : $component-active-color;






// SIDEBAR
// ----------------------------------------------
$sidebar-bg                             : $content-bg;
$sidebar-color                          : $content-color;


// Unite sidebar
// ----------------------------------------------
$sidebar-unite-bg                       : $component-active-bg;
$sidebar-unite-color                    : shade-color( $component-active-color, 15%);
$sidebar-unite-active-color             : $component-active-color;
$sidebar-unite-border-color             : shade-color($component-active-bg, 8%);