{% extends 'base.html' %}
{% block title %}Business{% endblock %}
{% block content %}
<div class="row mb-5 pt-5">
    <div class="col-md-6 mb-4">
        <h4 class="mb-5">Business</h4>

        <!-- Timeline with icons -->
        <div class="timeline">

            <div class="tl-entry active">
                <div class="tl-time">
                    <div class="tl-date">Get started</div>
                    <div class="tl-time">Today</div>
                </div>
                <div class="tl-media">
                    <div class="ratio ratio-1x1 bg-info text-white rounded-circle">
                        <i class="demo-pli-basket-coins fs-5"></i>
                    </div>
                </div>
                <div class="tl-content card">
                    <div class="card-body">
                        <figure class="m-0">
                            <blockquote class="blockquote">
                                <h5 class="card-title">Sales plan</h5>
                            </blockquote>
                            <figcaption class="blockquote-footer">
                                Outline your goals, strategies, competitors, and more. <cite title="Source Title">Let us drive that!</cite>
                            </figcaption>
                            <!-- Social media buttons -->
                        <div class="mt-4 pt-3 text-center border-top">
                            <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=farm@abontem.com"
                               target="_blank" class="btn btn-icon bg-transparent btn-underlined text-muted"
                               data-bs-toggle="tooltip" data-bs-placement="top" title="Email us">
                                <i class="demo-pli-mail-unread fs-4"></i>
                            </a>
                            <a href="https://wa.me/233245003234?text=I%27m%20interested%20in%20your%20sales-plan-design%20services"
                               target="_blank" class="btn btn-icon bg-transparent btn-underlined text-muted"
                               data-bs-toggle="tooltip" data-bs-placement="top" title="Whatsapp us">
                                <i class="demo-pli-smartphone-3 fs-4"></i>
                            </a>
                            <a href="tel:0245003234" target="_blank"
                               class="btn btn-icon bg-transparent btn-underlined text-muted" data-bs-toggle="tooltip"
                               data-bs-placement="top" title="Call us">
                                <i class="demo-psi-old-telephone fs-4"></i>
                            </a>
<!--                            <a href="" class="btn btn-icon bg-transparent btn-underlined text-muted"-->
<!--                               data-bs-toggle="tooltip" data-bs-placement="top" title="Fill a service form">-->
<!--                                <i class="demo-psi-calendar-4 fs-4"></i>-->
<!--                            </a>-->
                        </div>
                        <!-- END : Social media buttons -->
                        </figure>

                    </div>
                </div>
            </div>

            <div class="tl-entry">
                <div class="tl-time">
                    <div class="tl-date">Get started</div>
                    <div class="tl-time">Today</div>
                </div>
                <div class="tl-media">
                    <div class="ratio ratio-1x1 bg-danger text-white rounded-circle">
                        <i class="demo-psi-mail fs-5"></i>
                    </div>
                </div>
                <div class="tl-content card">
                    <div class="card-body">
                        <h5 class="card-title">Marketing plan</h5>
                        <p>A solid marketing strategy is the foundation of a well-written marketing plan so that goals may be achieved.</p>
                    </div>
                    <!-- Social media buttons -->
                        <div class="mt-4 pt-3 text-center border-top">
                            <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=farm@abontem.com"
                               target="_blank" class="btn btn-icon bg-transparent btn-underlined text-muted"
                               data-bs-toggle="tooltip" data-bs-placement="top" title="Email us">
                                <i class="demo-pli-mail-unread fs-4"></i>
                            </a>
                            <a href="https://wa.me/233245003234?text=I%27m%20interested%20in%20your%20marketing-plan%20services"
                               target="_blank" class="btn btn-icon bg-transparent btn-underlined text-muted"
                               data-bs-toggle="tooltip" data-bs-placement="top" title="Whatsapp us">
                                <i class="demo-pli-smartphone-3 fs-4"></i>
                            </a>
                            <a href="tel:0245003234" target="_blank"
                               class="btn btn-icon bg-transparent btn-underlined text-muted" data-bs-toggle="tooltip"
                               data-bs-placement="top" title="Call us">
                                <i class="demo-psi-old-telephone fs-4"></i>
                            </a>
<!--                            <a href="" class="btn btn-icon bg-transparent btn-underlined text-muted"-->
<!--                               data-bs-toggle="tooltip" data-bs-placement="top" title="Fill a service form">-->
<!--                                <i class="demo-psi-calendar-4 fs-4"></i>-->
<!--                            </a>-->
                        </div>
                        <!-- END : Social media buttons -->
                </div>
            </div>

            <div class="tl-entry">
                <div class="tl-time">
                    <div class="tl-date">Get started</div>
                    <div class="tl-time">Today</div>
                </div>
                <div class="tl-media">
                    <div class="ratio ratio-1x1 bg-success text-white rounded-circle">
                        <i class="demo-psi-like fs-5"></i>
                    </div>
                </div>
                <div class="tl-content card">
                    <div class="card-body">
<!--                        <img class="img-xs rounded-circle" src="./assets/img/profile-photos/3.png"-->
<!--                             alt="Profile Picture">-->
                        <span class="ms-2"><h5 class="card-title">Operational plan</h5> We will assist you design a practical document which
                            outlines the key activities and targets your agribusiness will undertake during a period of time,
                            usually one year. </span>
                    </div>
                    <!-- Social media buttons -->
                        <div class="mt-4 pt-3 text-center border-top">
                            <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=farm@abontem.com"
                               target="_blank" class="btn btn-icon bg-transparent btn-underlined text-muted"
                               data-bs-toggle="tooltip" data-bs-placement="top" title="Email us">
                                <i class="demo-pli-mail-unread fs-4"></i>
                            </a>
                            <a href="https://wa.me/233245003234?text=I%27m%20interested%20in%20your%20operational-plan-design%20services"
                               target="_blank" class="btn btn-icon bg-transparent btn-underlined text-muted"
                               data-bs-toggle="tooltip" data-bs-placement="top" title="Whatsapp us">
                                <i class="demo-pli-smartphone-3 fs-4"></i>
                            </a>
                            <a href="tel:0245003234" target="_blank"
                               class="btn btn-icon bg-transparent btn-underlined text-muted" data-bs-toggle="tooltip"
                               data-bs-placement="top" title="Call us">
                                <i class="demo-psi-old-telephone fs-4"></i>
                            </a>
<!--                            <a href="" class="btn btn-icon bg-transparent btn-underlined text-muted"-->
<!--                               data-bs-toggle="tooltip" data-bs-placement="top" title="Fill a service form">-->
<!--                                <i class="demo-psi-calendar-4 fs-4"></i>-->
<!--                            </a>-->
                        </div>
                        <!-- END : Social media buttons -->
                </div>
            </div>

            <div class="tl-entry">
                <div class="tl-time">
                    <div class="tl-date">Get started</div>
                    <div class="tl-time">Today</div>
                </div>
                <div class="tl-media">
                    <div class="ratio ratio-1x1 bg-warning text-white rounded-circle">
                        <i class="demo-psi-idea-2 fs-5"></i>
                    </div>
                </div>
                <div class="tl-content card">
                    <div class="card-body">
                        <h5 class="card-title">Farm Management</h5>We will appoint a reliable and an efficient
                        farm manager to take care of the operations of your farm. Optimizing all logistics and
                        resources of your farm for optimal yields is what we are about. We cater for all farm
                        sizes, whether big or small!
                    </div>
                    <!-- Social media buttons -->
                        <div class="mt-4 pt-3 text-center border-top">
                           <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=farm@abontem.com"
                               target="_blank" class="btn btn-icon bg-transparent btn-underlined text-muted"
                               data-bs-toggle="tooltip" data-bs-placement="top" title="Email us">
                                <i class="demo-pli-mail-unread fs-4"></i>
                            </a>
                            <a href="https://wa.me/233245003234?text=I%27m%20interested%20in%20your%20farm-management%20services"
                               target="_blank" class="btn btn-icon bg-transparent btn-underlined text-muted"
                               data-bs-toggle="tooltip" data-bs-placement="top" title="Whatsapp us">
                                <i class="demo-pli-smartphone-3 fs-4"></i>
                            </a>
                            <a href="tel:0245003234" target="_blank"
                               class="btn btn-icon bg-transparent btn-underlined text-muted" data-bs-toggle="tooltip"
                               data-bs-placement="top" title="Call us">
                                <i class="demo-psi-old-telephone fs-4"></i>
                            </a>
<!--                            <a href="" class="btn btn-icon bg-transparent btn-underlined text-muted"-->
<!--                               data-bs-toggle="tooltip" data-bs-placement="top" title="Fill a service form">-->
<!--                                <i class="demo-psi-calendar-4 fs-4"></i>-->
<!--                            </a>-->
                        </div>
                        <!-- END : Social media buttons -->
                </div>
            </div>

        </div>
        <!-- END : Timeline with icons -->
    </div>
<!--    <div class="col-md-6 mb-4">-->
<!--        <h4 class="mb-5">Images</h4>-->

<!--        &lt;!&ndash; Timeline with images &ndash;&gt;-->
<!--        <div class="timeline">-->

<!--            <div class="tl-entry active">-->
<!--                <div class="tl-time">-->
<!--                    <div class="tl-date">Get started</div>-->
<!--                    <div class="tl-time">10:23 AM</div>-->
<!--                </div>-->
<!--                <div class="tl-media">-->
<!--                    <img class="img-sm rounded-circle" src="./assets/img/profile-photos/7.png" alt="Profile Picture"-->
<!--                         loading="lazy">-->
<!--                </div>-->
<!--                <div class="tl-content card">-->
<!--                    <div class="card-body">-->
<!--                        <figure class="m-0">-->
<!--                            <blockquote class="blockquote">-->
<!--                                <p>A well-known quote, contained in a blockquote element.</p>-->
<!--                            </blockquote>-->
<!--                            <figcaption class="blockquote-footer">-->
<!--                                Someone famous in <cite title="Source Title">Source Title</cite>-->
<!--                            </figcaption>-->
<!--                        </figure>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="tl-entry">-->
<!--                <div class="tl-time">-->
<!--                    <div class="tl-date">Get started</div>-->
<!--                    <div class="tl-time">07:47 AM</div>-->
<!--                </div>-->
<!--                <div class="tl-media">-->
<!--                    <img class="img-sm rounded-circle" src="./assets/img/profile-photos/3.png" alt="Profile Picture"-->
<!--                         loading="lazy">-->
<!--                </div>-->
<!--                <div class="tl-content card">-->
<!--                    <div class="card-body">-->
<!--                        <h5 class="card-title">Lorem ipsum dolor sit amet.</h5>-->
<!--                        <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his-->
<!--                            bed into a horrible vermin.</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="tl-entry">-->
<!--                <div class="tl-time">-->
<!--                    <div class="tl-date">Get started</div>-->
<!--                    <div class="tl-time">01:17 PM</div>-->
<!--                </div>-->
<!--                <div class="tl-media">-->
<!--                    <img class="img-sm rounded-circle" src="./assets/img/profile-photos/9.png" alt="Profile Picture"-->
<!--                         loading="lazy">-->
<!--                </div>-->
<!--                <div class="tl-content card">-->
<!--                    <div class="card-body">-->
<!--                        <img class="img-xs rounded-circle" src="./assets/img/profile-photos/3.png"-->
<!--                             alt="Profile Picture">-->
<!--                        <span class="ms-2"><a href="#" class="btn-link fw-bold">Jackson</a> sent you a message.</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="tl-entry">-->
<!--                <div class="tl-time">-->
<!--                    <div class="tl-date">Oct 20, 2021</div>-->
<!--                    <div class="tl-time">05:19 AM</div>-->
<!--                </div>-->
<!--                <div class="tl-media">-->
<!--                    <img class="img-sm rounded-circle" src="./assets/img/profile-photos/1.png" alt="Profile Picture"-->
<!--                         loading="lazy">-->
<!--                </div>-->
<!--                <div class="tl-content card">-->
<!--                    <div class="card-body">-->
<!--                        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there-->
<!--                        live the blind texts.-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--        </div>-->
<!--        &lt;!&ndash; END : Timeline with images &ndash;&gt;-->

<!--    </div>-->
</div>

{% endblock %}