{% extends 'base.html' %}
{% block title %}Business{% endblock %}
{% block content %}
<div class="row mb-5 pt-5">
    <div class="col-md-6 mb-4">
        <h4 class="mb-5">Icons</h4>

        <!-- Timeline with icons -->
        <div class="timeline">

            <div class="tl-entry active">
                <div class="tl-time">
                    <div class="tl-date">Today</div>
                    <div class="tl-time">10:23 AM</div>
                </div>
                <div class="tl-media">
                    <div class="ratio ratio-1x1 bg-info text-white rounded-circle">
                        <i class="demo-psi-speech-bubble-3 fs-5"></i>
                    </div>
                </div>
                <div class="tl-content card">
                    <div class="card-body">
                        <figure class="m-0">
                            <blockquote class="blockquote">
                                <p>A well-known quote, contained in a blockquote element.</p>
                            </blockquote>
                            <figcaption class="blockquote-footer">
                                Someone famous in <cite title="Source Title">Source Title</cite>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>

            <div class="tl-entry">
                <div class="tl-time">
                    <div class="tl-date">Today</div>
                    <div class="tl-time">07:47 AM</div>
                </div>
                <div class="tl-media">
                    <div class="ratio ratio-1x1 bg-danger text-white rounded-circle">
                        <i class="demo-psi-mail fs-5"></i>
                    </div>
                </div>
                <div class="tl-content card">
                    <div class="card-body">
                        <h5 class="card-title">Lorem ipsum dolor sit amet.</h5>
                        <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his
                            bed into a horrible vermin.</p>
                    </div>
                </div>
            </div>

            <div class="tl-entry">
                <div class="tl-time">
                    <div class="tl-date">Yesterday</div>
                    <div class="tl-time">01:17 PM</div>
                </div>
                <div class="tl-media">
                    <div class="ratio ratio-1x1 bg-success text-white rounded-circle">
                        <i class="demo-psi-like fs-5"></i>
                    </div>
                </div>
                <div class="tl-content card">
                    <div class="card-body">
                        <img class="img-xs rounded-circle" src="./assets/img/profile-photos/3.png"
                             alt="Profile Picture">
                        <span class="ms-2"><a href="#" class="btn-link fw-bold">Jackson</a> sent you a message.</span>
                    </div>
                </div>
            </div>

            <div class="tl-entry">
                <div class="tl-time">
                    <div class="tl-date">Oct 20, 2021</div>
                    <div class="tl-time">05:19 AM</div>
                </div>
                <div class="tl-media">
                    <div class="ratio ratio-1x1 bg-warning text-white rounded-circle">
                        <i class="demo-psi-idea-2 fs-5"></i>
                    </div>
                </div>
                <div class="tl-content card">
                    <div class="card-body">
                        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there
                        live the blind texts.
                    </div>
                </div>
            </div>

        </div>
        <!-- END : Timeline with icons -->
    </div>
    <div class="col-md-6 mb-4">
        <h4 class="mb-5">Images</h4>

        <!-- Timeline with images -->
        <div class="timeline">

            <div class="tl-entry active">
                <div class="tl-time">
                    <div class="tl-date">Today</div>
                    <div class="tl-time">10:23 AM</div>
                </div>
                <div class="tl-media">
                    <img class="img-sm rounded-circle" src="./assets/img/profile-photos/7.png" alt="Profile Picture"
                         loading="lazy">
                </div>
                <div class="tl-content card">
                    <div class="card-body">
                        <figure class="m-0">
                            <blockquote class="blockquote">
                                <p>A well-known quote, contained in a blockquote element.</p>
                            </blockquote>
                            <figcaption class="blockquote-footer">
                                Someone famous in <cite title="Source Title">Source Title</cite>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>

            <div class="tl-entry">
                <div class="tl-time">
                    <div class="tl-date">Today</div>
                    <div class="tl-time">07:47 AM</div>
                </div>
                <div class="tl-media">
                    <img class="img-sm rounded-circle" src="./assets/img/profile-photos/3.png" alt="Profile Picture"
                         loading="lazy">
                </div>
                <div class="tl-content card">
                    <div class="card-body">
                        <h5 class="card-title">Lorem ipsum dolor sit amet.</h5>
                        <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his
                            bed into a horrible vermin.</p>
                    </div>
                </div>
            </div>

            <div class="tl-entry">
                <div class="tl-time">
                    <div class="tl-date">Yesterday</div>
                    <div class="tl-time">01:17 PM</div>
                </div>
                <div class="tl-media">
                    <img class="img-sm rounded-circle" src="./assets/img/profile-photos/9.png" alt="Profile Picture"
                         loading="lazy">
                </div>
                <div class="tl-content card">
                    <div class="card-body">
                        <img class="img-xs rounded-circle" src="./assets/img/profile-photos/3.png"
                             alt="Profile Picture">
                        <span class="ms-2"><a href="#" class="btn-link fw-bold">Jackson</a> sent you a message.</span>
                    </div>
                </div>
            </div>

            <div class="tl-entry">
                <div class="tl-time">
                    <div class="tl-date">Oct 20, 2021</div>
                    <div class="tl-time">05:19 AM</div>
                </div>
                <div class="tl-media">
                    <img class="img-sm rounded-circle" src="./assets/img/profile-photos/1.png" alt="Profile Picture"
                         loading="lazy">
                </div>
                <div class="tl-content card">
                    <div class="card-body">
                        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there
                        live the blind texts.
                    </div>
                </div>
            </div>

        </div>
        <!-- END : Timeline with images -->

    </div>
</div>

{% endblock %}