{% extends 'base.html' %}
{% block title %}Contact Us{% endblock %}
{% block content %}

<div class="content__boxed">

    <div class="content__wrap">
        {% for message in messages %}
        <div class="alert alert-info" role="alert">
                                        <h5>{{message}}</h5>
                        </div>
        {% endfor %}
        <div class="card">
            <div class="row">
                <div class="col-md-7">
                    <div class="mt-4 pt-3 text-center border-top">
                        <h5>Tap on an icon to contact us directly</h5>

                        <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=farm@abontem.com" target="_blank"
                           class="btn btn-icon bg-transparent btn-underlined text-muted">
                            <i class="demo-pli-mail-unread fs-4"></i>
                        </a>
                        <a href="https://wa.me/233553612697?text=I%27m%20interested%20in%20buying%20*********%20seeds%20services"
                           target="_blank" class="btn btn-icon bg-transparent btn-underlined text-muted">
                            <i class="demo-pli-smartphone-3 fs-4"></i>
                        </a>
                        <a href="tel:0245003234" target="_blank"
                           class="btn btn-icon bg-transparent btn-underlined text-muted">
                            <i class="demo-psi-old-telephone fs-4"></i>
                        </a>
                        <!--                        <a href="" class="btn btn-icon bg-transparent btn-underlined text-muted">-->
                        <!--                            <i class="demo-psi-calendar-4 fs-4"></i>-->
                        <!--                        </a>-->
                    </div>
                    <!-- Contact form -->
                    <form action="{% url 'contact_us' %}" method="post">
                        {% csrf_token %}
                        <div class="card-body">

                            <div class="row">
                                <h5 style="text-align:center">or complete this form</h5>

                                <div class="col-md-6">
                                    <label for="_dm-inputCountry" class="form-label">Country</label>
                                    <input id="_dm-inputCountry" type="text" class="form-control"
                                           name="country" placeholder="country" required>
                                </div>

                                <div class="col-md-6">
                                    <label for="_dm-inputPassword2" class="form-label">Phone</label>
                                    <input id="_dm-inputPassword2" type="number" class="form-control"
                                    name="phone" placeholder="phone" required>
                                </div>
                            </div>
                            <br>

                            <div class="mb-4">
                                <label for="_dm-inputSubject" class="form-label">Subject</label>
                                <input id="_dm-inputSubject" class="form-control" type="text" placeholder="Subject"
                                       name="subject" required>
                            </div>

                            <div class="mb-4">
                                <label for="_dm-inputMsg" class="form-label">Message</label>
                                <textarea id="_dm-inputMsg" class="form-control" rows="5" name="message"
                                          required></textarea>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>

                        </div>
                        <br>
                        {% for message in messages %}
        <div class="alert alert-info" role="alert">
                                        <h5>{{message}}</h5>
                        </div>
        {% endfor %}
                    </form>
                    <!-- END : Contact form -->

                </div>

                <!-- Simple info banner -->
                <div class="col-md-5">
                    <div class="card-body bg-primary bg-opacity-25 h-100 rounded py-5 px-xl-5">
                        <h3>Let's get in touch</h3>
                        <p class="mb-5">We're open for any suggestion or just to have a chat.</p>

                        <div class="d-flex align-items-start">
                            <div class="flex-shrink-0 img-sm">
                                <div class="ratio ratio-1x1">
                                    <i class="d-flex align-items-center justify-content-center demo-pli-map-marker-2 fs-3"></i>
                                </div>
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <address>
                                    <strong class="h6">Abontem</strong><br>
                                    176 Yasmine's Place<br>
                                    East Legon - Accra
                                </address>
                            </div>
                        </div>

                        <div class="d-flex align-items-center mb-3">
                            <div class="flex-shrink-0 img-sm">
                                <div class="ratio ratio-1x1">
                                    <i class="d-flex align-items-center justify-content-center demo-pli-old-telephone fs-3"></i>
                                </div>
                            </div>
                            <div class="flex-grow-1 ms-2">+233 24 500 32 34</div>
                        </div>

                        <div class="d-flex align-items-center">
                            <div class="flex-shrink-0 img-sm">
                                <div class="ratio ratio-1x1">
                                    <i class="d-flex align-items-center justify-content-center demo-pli-mail fs-3"></i>
                                </div>
                            </div>
                            <div class="flex-grow-1 ms-3">farm@abontem.com</div>
                        </div>

                    </div>
                </div>
                <!-- END : Simple info banner -->

            </div>
        </div>

    </div>
</div>
{% endblock %}