{% extends 'base.html' %}
{% block title %}Data & Tech{% endblock %}
{% load static %}
{% block content %}
<!-- PAGE CONTAINER -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <div id="root" class="root mn--max hd--expanded">


        <!-- CONTENTS -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <section id="content" class="content">

            <div class="content__header content__boxed overlapping">

                <div class="content__wrap pt-3 pb-4">
                                            <h4>Data & Tech</h4>



                </div>

            </div>

            <div class="content__boxed">
                <div class="content__wrap">
                    <div class="row">
                        <div class="col-sm-6 col-xl-3">

                            <!-- User widget -->
                            <div class="card mb-4">
                                <div class="card-body">

                                    <!-- Profile picture and short information -->
                                    <div class="text-center position-relative">
                                        <div class="pt-2 pb-3">
                                            <img class="img-lg rounded-circle" src="{% static 'dashboard/img/profile-photos/1.png' %}" alt="Profile Picture" loading="lazy">
                                        </div>
                                        <a href="#" class="stretched-link text-decoration-none">
                                            <h5 class="m-0">Research</h5>
                                        </a>
                                        <p class="text-muted">CEO</p>
                                        <small>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem, ipsa?</small>
                                    </div>
                                    <!-- END : Profile picture and short information -->

                                    <!-- Social media buttons -->
                                    <div class="mt-4 pt-3 d-flex justify-content-around border-top">
                                        <div class="text-center">
                                            <h4 class="mb-1">1,345</h4>
                                            <small class="text-muted">Following</small>
                                        </div>
                                        <div class="text-center">
                                            <h4 class="mb-1">23k</h4>
                                            <small class="text-muted">Followers</small>
                                        </div>
                                        <div class="text-center">
                                            <h4 class="mb-1">278</h4>
                                            <small class="text-muted">Posts</small>
                                        </div>
                                    </div>
                                    <!-- END : Social media buttons -->

                                </div>
                            </div>
                            <!-- END : User widget -->

                            <!-- User widget with background color -->
<!--                            <div class="card bg-secondary text-white mb-4">-->
<!--                                <div class="card-body">-->

<!--                                    &lt;!&ndash; Profile picture and short information &ndash;&gt;-->
<!--                                    <div class="d-flex align-items-center position-relative py-3">-->
<!--                                        <div class="flex-shrink-0">-->
<!--                                            <img class="img-md rounded-circle" src="{% static 'dashboard/img/profile-photos/8.png' %}" alt="Profile Picture" loading="lazy">-->
<!--                                        </div>-->
<!--                                        <div class="flex-grow-1 ms-3">-->
<!--                                            <a href="#" class="text-reset stretched-link text-decoration-none">-->
<!--                                                <h5 class="m-0">Get started</h5>-->
<!--                                            </a>-->
<!--                                            <p class="m-0">Sales Manager</p>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <small class="d-none">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem, ipsa?</small>-->
<!--                                    &lt;!&ndash; END : Profile picture and short information &ndash;&gt;-->

<!--                                    &lt;!&ndash; Options buttons &ndash;&gt;-->
<!--                                    <div class="pt-3 text-center">-->
<!--                                        <div class="d-flex justify-content-center gap-3">-->
<!--                                            <a href="#" class="btn btn-sm bg-transparent text-reset btn-underlined">-->
<!--                                                <i class="d-block demo-psi-consulting fs-3 mb-2"></i> Call-->
<!--                                            </a>-->
<!--                                            <a href="#" class="btn btn-sm bg-transparent text-reset btn-underlined">-->
<!--                                                <i class="d-block demo-psi-mail fs-3 mb-2"></i> Email-->
<!--                                            </a>-->
<!--                                            <a href="#" class="btn btn-sm bg-transparent text-reset btn-underlined">-->
<!--                                                <i class="d-block demo-psi-smartphone-3 fs-3 mb-2"></i> TxT-->
<!--                                            </a>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    &lt;!&ndash; END : Options buttons &ndash;&gt;-->

<!--                                </div>-->
<!--                            </div>-->
                            <!-- END : User widget with background color -->

                        </div>
                        <div class="col-sm-6 col-xl-3">

                            <!-- User widget -->
                            <div class="card bg-info text-white mb-4">
                                <div class="card-body">

                                    <!-- Profile picture and short information -->
                                    <div class="d-flex align-items-center position-relative py-3">
                                        <div class="flex-shrink-0">
                                            <img class="img-md rounded-circle" src="{% static 'dashboard/img/profile-photos/4.png' %}" alt="Profile Picture" loading="lazy">
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <a href="#" class="text-reset stretched-link text-decoration-none">
                                                <h5 class="m-0">Get started</h5>
                                            </a>
                                            <p class="m-0">Sales Manager</p>
                                        </div>
                                    </div>
                                    <small class="d-none">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem, ipsa?</small>
                                    <!-- END : Profile picture and short information -->

                                    <!-- Options buttons -->
                                    <div class="pt-3 text-center">
                                        <div class="d-flex justify-content-center gap-3">
                                            <a href="tel:0245003234" class="btn btn-sm bg-transparent text-reset btn-underlined">
                                                <i class="d-block demo-psi-consulting fs-3 mb-2"></i> Call
                                            </a>
                                            <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=farm@abontem.com" class="btn btn-sm bg-transparent text-reset btn-underlined">
                                                <i class="d-block demo-psi-mail fs-3 mb-2"></i> Email
                                            </a>
                                            <a href="https://wa.me/233553612697?text=I%27m%20interested%20in%20your%20data-tech%20services" class="btn btn-sm bg-transparent text-reset btn-underlined">
                                                <i class="d-block demo-psi-smartphone-3 fs-3 mb-2"></i> TxT
                                            </a>
                                        </div>
                                    </div>
                                    <!-- END : Options buttons -->

                                </div>
                            </div>
                            <!-- END : User widget -->

                            <!-- User widget -->
                            <div class="card mb-4">
                                <div class="card-body">

                                    <!-- Profile picture and short information -->
                                    <div class="text-center position-relative">
                                        <div class="pt-2 pb-3">
                                            <img class="img-lg rounded-circle" src="{% static 'dashboard/img/profile-photos/5.png' %}" alt="Profile Picture" loading="lazy">
                                        </div>
                                        <a href="#" class="stretched-link text-decoration-none">
                                            <h5 class="m-0">Farm Tech</h5>
                                        </a>
                                        <p class="text-muted">Web and Graphic designer</p>
                                    </div>
                                    <div class="d-flex justify-content-center gap-2">
                                        <button type="button" class="btn btn-light">Send Mail</button>
                                        <button type="button" class="btn btn-primary">Whatsapp</button>
                                    </div>
                                    <!-- END : Profile picture and short information -->

                                    <!-- Social media buttons -->
                                    <div class="mt-4 pt-3 d-flex justify-content-around border-top">
                                        <div class="text-center">
                                            <h4 class="mb-1">1,345</h4>
                                            <small class="text-muted">Following</small>
                                        </div>
                                        <div class="text-center">
                                            <h4 class="mb-1">23k</h4>
                                            <small class="text-muted">Followers</small>
                                        </div>
                                        <div class="text-center">
                                            <h4 class="mb-1">278</h4>
                                            <small class="text-muted">Posts</small>
                                        </div>
                                    </div>
                                    <!-- END : Social media buttons -->

                                </div>
                            </div>
                            <!-- END : User widget -->

                        </div>
                        <div class="col-sm-6 col-xl-3">

                            <!-- User widget with solid bg at the top -->
                            <div class="card mb-4">
                                <div class="position-relative py-5 px-3 text-center bg-success text-white rounded-top">
                                    <a href="#" class="stretched-link text-decoration-none">
                                        <h5 class="text-white m-0">Field Surveys</h5>
                                    </a>
                                    <p class="text-white text-opacity-75 mb-4">General Manager</p>
                                </div>

                                <div class="position-relative p-4">
                                    <div class="position-absolute top-0 start-50 translate-middle text-white">
                                        <img class="img-lg rounded-circle border border-white border-4" src="{% static 'dashboard/img/profile-photos/3.png' %}" alt="task-user">
                                    </div>
                                </div>

                                <ol class="list-group list-group-borderless mt-4">
                                    <li class="list-group-item d-flex justify-content-between align-items-start">
                                        <div class="me-auto">
                                            <div class="h6 mb-1">Project completed</div>
                                            <small>Lorem ipsum dolor sit.</small>
                                        </div>
                                        <span class="badge bg-warning rounded-pill">14</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-start">
                                        <div class="me-auto">
                                            <div class="h6 mb-1">Resource usage</div>
                                            <small>Lorem ipsum dolor sit.</small>
                                        </div>
                                        <span class="badge bg-info rounded-pill">25%</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-start">
                                        <div class="me-auto">
                                            <div class="h6 mb-1">Earning</div>
                                            <small>Lorem ipsum dolor sit.</small>
                                        </div>
                                        <span class="badge bg-success rounded-pill">$ 4,900</span>
                                    </li>
                                </ol>

                                <div class="card-body border-top mt-4">
                                    <p>Other travelling salesmen live a life of luxury. For instance, whenever I go back to the guest house during the morning to copy out the contract.</p>
                                </div>
                            </div>
                            <!-- END : User widget with solid bg at the top -->

                        </div>
                        <div class="col-sm-6 col-xl-3">

                            <!-- User widget with image at the top -->
                            <div class="card mb-4">
                                <img class="card-img-top" src="{% static 'dashboard/img/sample-img/img-4.jpg' %}" alt="coffee" loading="lazy">
                                <div class="position-relative p-4">
                                    <div class="position-absolute top-0 start-50 translate-middle text-white">
                                        <img class="img-lg rounded-circle border border-white border-4" src="{% static 'dashboard/img/profile-photos/10.png' %}" alt="task-user">
                                    </div>
                                </div>

                                <div class="text-center mt-4">
                                    <a href="#" class="text-decoration-none">
                                        <h5 class="m-0">Data Science</h5>
                                    </a>
                                    <p class="text-opacity-75 mb-0">Art Designer</p>
                                </div>

                                <div class="card-body">
                                    <p class="text-center">Other travelling salesmen live a life of luxury.</p>
                                    <div class="list-group list-group-borderless">
                                        <a class="list-group-item list-group-item-action" href="#"><i class="demo-pli-information fs-4 me-2"></i> User Details</a>
                                        <a class="list-group-item list-group-item-action" href="#"><i class="demo-pli-mine fs-4 me-2"></i> Usage Profile</a>
                                        <a class="list-group-item list-group-item-action" href="#"><i class="demo-pli-credit-card-2 fs-4 me-2"></i> Payment Options</a>
                                        <a class="list-group-item list-group-item-action" href="#"><i class="demo-pli-gear fs-4 me-2"></i> Settings</a>
                                        <a class="list-group-item list-group-item-action" href="#"><i class="demo-pli-mail fs-4 me-2"></i> Messages</a>
                                    </div>
                                </div>
                            </div>
                            <!-- END : User widget with image at the top -->

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}