{% extends 'base.html' %}
{% block title %}Finance{% endblock %}
{% load static %}
{% block content %}
<h4>Financial Services</h4>
<div style="text-align:right">
    <a href="{% url 'invest' %}"><button type="submit" class="btn btn-primary">Invest with us</button></a>
    </div>
<br>
<form class="row row-cols-md-auto g-3 align-items-center">
<!--    <div class="col-12">-->
<!--        <label for="_dm-staticEmail" class="visually-hidden">Contact Number</label>-->
<!--        <input type="text" class="form-control" id="_dm-inputEmail" placeholder="Contact">-->
<!--    </div>-->
    <div class="col-12">
        <select name="acres" class="form-control">
            <option value="select">Select a service</option>
            <option value="loan">Loan</option>
            <option value="invest">Invest (We invest)</option>
            <option value="partnerships">Partnerships(We partner)</option>
            <option value="hirepurchase">Get Farmlands on hirepurchase</option>
        </select>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Get started</button>
    </div>
</form>
<br>
<!-- Timeline with date and time -->
<div class="timeline timeline-two-column" style="--timeline-entry-gap: 2.5rem">
    <div class="tl-entry active">
        <div class="tl-time">
            <div class="tl-date">Need a loan?</div>
            <div class="tl-time">Apply Instantly!</div>
        </div>
        <div class="tl-point"></div>
        <div class="tl-content">
            <div class="card">
                <div class="card-body">
                    <figure class="m-0">
                        <blockquote class="blockquote">
                            <p>It all starts with capital. Whether it's a short-term or a long-term loan
                            the 'push significance' is all that matters to scale your business. Apply!</p>
                        </blockquote>
                        <figcaption class="blockquote-footer">
                            Apply <cite title="Source Title">with us</cite>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>

    <div class="tl-entry tl-entry-start">
        <div class="tl-time">
            <div class="tl-date">Seeking</div>
            <div class="tl-time">an investor?</div>
        </div>
        <div class="tl-point"></div>
        <div class="tl-content">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Let's think big together!</h5>
                    <p>If you are seeking an investor in any 'activity' in the agribusiness space
                    get started with us. We would be happy to scale with you to higher heights. Ready?</p>
                </div>
            </div>
        </div>
    </div>

    <div class="tl-entry">
        <div class="tl-time">
            <div class="tl-date">Talk to us</div>
            <div class="tl-time">Get started!</div>
        </div>
        <div class="tl-point"></div>
        <div class="tl-content">
            <div class="card">
                <div class="card-body">
                    <img class="img-xs rounded-circle" src="{% static 'dashboard/img/backgrounds/export.jpg' %}" alt="Profile Picture">
                    <span class="ms-2"><a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=farm@abontem.com"
                               target="_blank" class="btn btn-icon bg-transparent btn-underlined text-muted"
                               data-bs-toggle="tooltip" data-bs-placement="top" title="Email us">
                                <i class="demo-pli-mail-unread fs-4"></i>
                            </a>
                            <a href="https://wa.me/233245003234?text=I%27m%20interested%20in%20buying%20*********%20seeds%20services"
                               target="_blank" class="btn btn-icon bg-transparent btn-underlined text-muted"
                               data-bs-toggle="tooltip" data-bs-placement="top" title="Whatsapp us">
                                <i class="demo-pli-smartphone-3 fs-4"></i>
                            </a>
                            <a href="tel:0245003234" target="_blank"
                               class="btn btn-icon bg-transparent btn-underlined text-muted" data-bs-toggle="tooltip"
                               data-bs-placement="top" title="Call us">
                                <i class="demo-psi-old-telephone fs-4"></i>
                            </a>
                            <a href="" class="btn btn-icon bg-transparent btn-underlined text-muted"
                               data-bs-toggle="tooltip" data-bs-placement="top" title="Fill a service form">
                                <i class="demo-psi-calendar-4 fs-4"></i>
                            </a></span>
                </div>
            </div>
        </div>
    </div>

    <div class="tl-entry">
        <div class="tl-time">
            <div class="tl-date">It's a</div>
            <div class="tl-time">win:win</div>
        </div>
        <div class="tl-point"></div>
        <div class="tl-content">
            <div class="card">
                <div class="card-body">
                    Let's join forces and build great ventures together!
                </div>
            </div>
        </div>
    </div>

    <div class="tl-entry tl-entry-start">
        <div class="tl-time">
            <div class="tl-date">Your dashboard</div>
            <div class="tl-time">holds it all!</div>
        </div>
        <div class="tl-point"></div>
        <div class="tl-content">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-info">Reminder: Your dashboard contains it all</h5>
                    <p>All your financial disbursements, be it loans, dividends or capital repayment
                    will be on your dashboard. Click <a href="{% url 'dashboard' %}">Here</a> to return to your dashboard.
                        'Request payout', withdraw funds into your bank account or momo wallet and start thriving!</p>
                </div>
            </div>
        </div>
    </div>

    <div class="tl-entry">
        <div class="tl-time">
            <div class="tl-date">Driveup</div>
            <div class="tl-time">your agribusiness</div>
        </div>
        <div class="tl-point"></div>
        <div class="tl-content">
            <div class="card">
                <div class="card-body">
                    It's your call to make. We are always on standby.
                </div>
            </div>
        </div>
    </div>

    <div class="tl-entry tl-entry-start">
        <div class="tl-time">
            <div class="tl-date">Farmlands</div>
            <div class="tl-time">on hirepurchase</div>
        </div>
        <div class="tl-point"></div>
        <div class="tl-content">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-info">Start farming</h5>
                    <p>Looking to buy farmland on hirepurchase? You are in luck. Get started below!</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<!-- Inline Form -->
<h4>Get started</h4>
<form class="row row-cols-md-auto g-3 align-items-center">
<!--    <div class="col-12">-->
<!--        <label for="_dm-staticEmail" class="visually-hidden">Contact Number</label>-->
<!--        <input type="text" class="form-control" id="_dm-inputEmail" placeholder="Contact">-->
<!--    </div>-->
    <div class="col-12">
        <select class="form-control">
            <option value="select">Select a service</option>
            <option value="loan">Loan</option>
            <option value="invest">Invest (We invest)</option>
            <option value="partnerships">Partnerships(We partner)</option>
            <option value="hirepurchase">Get Farmlands on hirepurchase</option>
        </select>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Get started</button>
    </div>
</form>
{% endblock %}