{% extends 'base.html' %}
{% block title %}Payments{% endblock %}
{% block content %}
<section>
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Link your payment options below</h5>

                    <!-- Block styled form -->
                    <form class="row g-3" method="post" action="">
                        {% csrf_token %}

                        <div class="col-12">
                            <label for="_dm-inputAddress" class="form-label">Preferred mode of receipt</label>
                            <select name="channel" class="form-control">
                                <option value="select">Select channel</option>
                                <option value="momo">Mobile money</option>
                                <option value="bank">Bank transfer</option>
                                <option value="paypal">Paypal</option>
                            </select>
                        </div>

                        <div class="col-12">
                            <label for="_dm-inputAddress2" class="form-label">Account number</label>
                            <input name="number" type="number" class="form-control"
                                   placeholder="Enter number associated with your account" required>
                        </div>

                        <div class="col-md-6">
                            <label for="_dm-inputCity" class="form-label">Account name</label>
                            <input name="name" type="text" class="form-control"
                                   placeholder="Enter your account name" required>
                        </div>

                        <div class="col-md-4">
                            <label for="inputState" class="form-label">Country</label>
                            <input name="country" type="text" class="form-control"
                                   placeholder="Enter country" required>

                            <!--                            <select id="inputState" class="form-select">-->
                            <!--                                <option selected>Choose...</option>-->
                            <!--                                <option>State 1</option>-->
                            <!--                                <option>State 2</option>-->
                            <!--                                <option>State 3</option>-->
                            <!--                            </select>-->
                        </div>

                        <div class="col-md-2">
                            <label for="_dm-inputZip" class="form-label">Zip</label>
                            <input name="zip" type="text" class="form-control" required>
                        </div>

                        <div class="col-12">
                            <!--                            <div class="form-check">-->
                            <!--                                <input id="_dm-gridCheck" class="form-check-input" type="checkbox">-->
                            <!--                                <label for="_dm-gridCheck" class="form-check-label">-->
                            <!--                                    Check me out-->
                            <!--                                </label>-->
                            <!--                            </div>-->
                        </div>

                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Update details</button>
                            <br>
                            {% for message in messages %}
        <div class="alert alert-info" role="alert">
                                        <p>{{message}}</p>
                        </div>
                             {% endfor %}
                        </div>
                        <br>
                         <div class="content__wrap">

                    </form>
                    <!-- END : Block styled form -->
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}