{% extends 'base.html' %}
{% block title %}Premium Services{% endblock %}
{% load static %}
{% block content %}
<!-- PAGE CONTAINER -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <div id="root" class="root mn--max hd--expanded">

        <!-- CONTENTS -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <section id="content" class="content">
            <div class="content__header content__boxed overlapping">
                <div class="content__wrap pt-3 pb-4">

                    <!-- Breadcrumb -->

                    <!-- END : Breadcrumb -->



                </div>

            </div>

            <div class="content__boxed">
                <div class="content__wrap">
                    <div class="row">
                        <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
                            <div class="card">
                                <div class="card-body">

                                    <!-- Profile picture and short information -->
                                    <div class="d-flex align-items-center position-relative pb-3">
                                        <div class="flex-shrink-0">
                                            <img class="img-md rounded-circle" src="./assets/img/profile-photos/3.png" alt="Profile Picture" loading="lazy">
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <a href="#" class="h5 stretched-link text-decoration-none">Stephen Tran</a>
                                            <p class="text-muted m-0">Marketing manager</p>
                                        </div>
                                    </div>
                                    <small>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem, ipsa?</small>
                                    <!-- END : Profile picture and short information -->

                                    <!-- Options buttons -->
                                    <div class="mt-3 pt-2 text-center border-top">
                                        <div class="d-flex justify-content-center gap-3">
                                            <a href="#" class="btn btn-sm bg-transparent btn-underlined">
                                                <i class="d-block demo-pli-consulting text-muted fs-3 mb-2"></i> Call
                                            </a>
                                            <a href="#" class="btn btn-sm bg-transparent btn-underlined">
                                                <i class="d-block demo-pli-mail text-muted fs-3 mb-2"></i> Email
                                            </a>
                                            <a href="#" class="btn btn-sm bg-transparent btn-underlined">
                                                <i class="d-block demo-pli-pen-5 text-muted fs-3 mb-2"></i> Edit
                                            </a>
                                        </div>
                                    </div>
                                    <!-- END : Options buttons -->

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
                            <div class="card">
                                <div class="card-body">

                                    <!-- Profile picture and short information -->
                                    <div class="d-flex align-items-center position-relative pb-3">
                                        <div class="flex-shrink-0">
                                            <img class="img-md rounded-circle" src="./assets/img/profile-photos/10.png" alt="Profile Picture" loading="lazy">
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <a href="#" class="h5 stretched-link text-decoration-none">Brenda Fuller</a>
                                            <p class="text-muted m-0">Graphics designer</p>
                                        </div>
                                    </div>
                                    <small>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem, ipsa?</small>
                                    <!-- END : Profile picture and short information -->

                                    <!-- Options buttons -->
                                    <div class="mt-3 pt-2 text-center border-top">
                                        <div class="d-flex justify-content-center gap-3">
                                            <a href="#" class="btn btn-sm bg-transparent btn-underlined">
                                                <i class="d-block demo-pli-consulting text-muted fs-3 mb-2"></i> Call
                                            </a>
                                            <a href="#" class="btn btn-sm bg-transparent btn-underlined">
                                                <i class="d-block demo-pli-mail text-muted fs-3 mb-2"></i> Email
                                            </a>
                                            <a href="#" class="btn btn-sm bg-transparent btn-underlined">
                                                <i class="d-block demo-pli-pen-5 text-muted fs-3 mb-2"></i> Edit
                                            </a>
                                        </div>
                                    </div>
                                    <!-- END : Options buttons -->

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
                            <div class="card">
                                <div class="card-body">

                                    <!-- Profile picture and short information -->
                                    <div class="d-flex align-items-center position-relative pb-3">
                                        <div class="flex-shrink-0">
                                            <img class="img-md rounded-circle" src="./assets/img/profile-photos/1.png" alt="Profile Picture" loading="lazy">
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <a href="#" class="h5 stretched-link text-decoration-none">Aaron Chavez</a>
                                            <p class="text-muted m-0">CEO</p>
                                        </div>
                                    </div>
                                    <small>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem, ipsa?</small>
                                    <!-- END : Profile picture and short information -->

                                    <!-- Options buttons -->
                                    <div class="mt-3 pt-2 text-center border-top">
                                        <div class="d-flex justify-content-center gap-3">
                                            <a href="#" class="btn btn-sm bg-transparent btn-underlined">
                                                <i class="d-block demo-pli-consulting text-muted fs-3 mb-2"></i> Call
                                            </a>
                                            <a href="#" class="btn btn-sm bg-transparent btn-underlined">
                                                <i class="d-block demo-pli-mail text-muted fs-3 mb-2"></i> Email
                                            </a>
                                            <a href="#" class="btn btn-sm bg-transparent btn-underlined">
                                                <i class="d-block demo-pli-pen-5 text-muted fs-3 mb-2"></i> Edit
                                            </a>
                                        </div>
                                    </div>
                                    <!-- END : Options buttons -->

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
                            <div class="card">
                                <div class="card-body">

                                    <!-- Profile picture and short information -->
                                    <div class="d-flex align-items-center position-relative pb-3">
                                        <div class="flex-shrink-0">
                                            <img class="img-md rounded-circle" src="./assets/img/profile-photos/5.png" alt="Profile Picture" loading="lazy">
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <a href="#" class="h5 stretched-link text-decoration-none">Donald Brown</a>
                                            <p class="text-muted m-0">Programmer</p>
                                        </div>
                                    </div>
                                    <small>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem, ipsa?</small>
                                    <!-- END : Profile picture and short information -->

                                    <!-- Options buttons -->
                                    <div class="mt-3 pt-2 text-center border-top">
                                        <div class="d-flex justify-content-center gap-3">
                                            <a href="#" class="btn btn-sm bg-transparent btn-underlined">
                                                <i class="d-block demo-pli-consulting text-muted fs-3 mb-2"></i> Call
                                            </a>
                                            <a href="#" class="btn btn-sm bg-transparent btn-underlined">
                                                <i class="d-block demo-pli-mail text-muted fs-3 mb-2"></i> Email
                                            </a>
                                            <a href="#" class="btn btn-sm bg-transparent btn-underlined">
                                                <i class="d-block demo-pli-pen-5 text-muted fs-3 mb-2"></i> Edit
                                            </a>
                                        </div>
                                    </div>
                                    <!-- END : Options buttons -->

                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
                            <div class="card">
                                <div class="card-body">

                                    <!-- Profile picture and short information -->
                                    <div class="d-flex align-items-center position-relative pb-3">
                                        <div class="flex-shrink-0">
                                            <img class="img-md rounded-circle" src="./assets/img/profile-photos/9.png" alt="Profile Picture" loading="lazy">
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <a href="#" class="h5 stretched-link text-decoration-none">Lucy Moon</a>
                                            <p class="text-muted m-0">Frontend Designer</p>
                                        </div>
                                    </div>
                                    <small>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem, ipsa?</small>
                                    <!-- END : Profile picture and short information -->

                                    <!-- Options buttons -->
                                    <div class="mt-3 pt-2 text-center border-top">
                                        <div class="d-flex justify-content-center gap-3">
                                            <a href="#" class="btn btn-sm bg-transparent btn-underlined">
                                                <i class="d-block demo-pli-consulting text-muted fs-3 mb-2"></i> Call
                                            </a>
                                            <a href="#" class="btn btn-sm bg-transparent btn-underlined">
                                                <i class="d-block demo-pli-mail text-muted fs-3 mb-2"></i> Email
                                            </a>
                                            <a href="#" class="btn btn-sm bg-transparent btn-underlined">
                                                <i class="d-block demo-pli-pen-5 text-muted fs-3 mb-2"></i> Edit
                                            </a>
                                        </div>
                                    </div>
                                    <!-- END : Options buttons -->

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
                            <div class="card">
                                <div class="card-body">

                                    <!-- Profile picture and short information -->
                                    <div class="d-flex align-items-center position-relative pb-3">
                                        <div class="flex-shrink-0">
                                            <img class="img-md rounded-circle" src="./assets/img/profile-photos/4.png" alt="Profile Picture" loading="lazy">
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <a href="#" class="h5 stretched-link text-decoration-none">Howard Rios</a>
                                            <p class="text-muted m-0">Marketing</p>
                                        </div>
                                    </div>
                                    <small>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem, ipsa?</small>
                                    <!-- END : Profile picture and short information -->

                                    <!-- Options buttons -->
                                    <div class="mt-3 pt-2 text-center border-top">
                                        <div class="d-flex justify-content-center gap-3">
                                            <a href="#" class="btn btn-sm bg-transparent btn-underlined">
                                                <i class="d-block demo-pli-consulting text-muted fs-3 mb-2"></i> Call
                                            </a>
                                            <a href="#" class="btn btn-sm bg-transparent btn-underlined">
                                                <i class="d-block demo-pli-mail text-muted fs-3 mb-2"></i> Email
                                            </a>
                                            <a href="#" class="btn btn-sm bg-transparent btn-underlined">
                                                <i class="d-block demo-pli-pen-5 text-muted fs-3 mb-2"></i> Edit
                                            </a>
                                        </div>
                                    </div>
                                    <!-- END : Options buttons -->

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
                            <div class="card">
                                <div class="card-body">

                                    <!-- Profile picture and short information -->
                                    <div class="d-flex align-items-center position-relative pb-3">
                                        <div class="flex-shrink-0">
                                            <img class="img-md rounded-circle" src="./assets/img/profile-photos/7.png" alt="Profile Picture" loading="lazy">
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <a href="#" class="h5 stretched-link text-decoration-none">Kathryn Obrien</a>
                                            <p class="text-muted m-0">Co-CEO</p>
                                        </div>
                                    </div>
                                    <small>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem, ipsa?</small>
                                    <!-- END : Profile picture and short information -->

                                    <!-- Options buttons -->
                                    <div class="mt-3 pt-2 text-center border-top">
                                        <div class="d-flex justify-content-center gap-3">
                                            <a href="#" class="btn btn-sm bg-transparent btn-underlined">
                                                <i class="d-block demo-pli-consulting text-muted fs-3 mb-2"></i> Call
                                            </a>
                                            <a href="#" class="btn btn-sm bg-transparent btn-underlined">
                                                <i class="d-block demo-pli-mail text-muted fs-3 mb-2"></i> Email
                                            </a>
                                            <a href="#" class="btn btn-sm bg-transparent btn-underlined">
                                                <i class="d-block demo-pli-pen-5 text-muted fs-3 mb-2"></i> Edit
                                            </a>
                                        </div>
                                    </div>
                                    <!-- END : Options buttons -->

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
                            <div class="card">
                                <div class="card-body">

                                    <!-- Profile picture and short information -->
                                    <div class="d-flex align-items-center position-relative pb-3">
                                        <div class="flex-shrink-0">
                                            <img class="img-md rounded-circle" src="./assets/img/profile-photos/8.png" alt="Profile Picture" loading="lazy">
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <a href="#" class="h5 stretched-link text-decoration-none">Karen Murray</a>
                                            <p class="text-muted m-0">Sales Manager</p>
                                        </div>
                                    </div>
                                    <small>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem, ipsa?</small>
                                    <!-- END : Profile picture and short information -->

                                    <!-- Options buttons -->
                                    <div class="mt-3 pt-2 text-center border-top">
                                        <div class="d-flex justify-content-center gap-3">
                                            <a href="#" class="btn btn-sm bg-transparent btn-underlined">
                                                <i class="d-block demo-pli-consulting text-muted fs-3 mb-2"></i> Call
                                            </a>
                                            <a href="#" class="btn btn-sm bg-transparent btn-underlined">
                                                <i class="d-block demo-pli-mail text-muted fs-3 mb-2"></i> Email
                                            </a>
                                            <a href="#" class="btn btn-sm bg-transparent btn-underlined">
                                                <i class="d-block demo-pli-pen-5 text-muted fs-3 mb-2"></i> Edit
                                            </a>
                                        </div>
                                    </div>
                                    <!-- END : Options buttons -->

                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
                            <div class="card">
                                <div class="card-body">

                                    <!-- Profile picture and short information -->
                                    <div class="d-flex align-items-center position-relative pb-3">
                                        <div class="flex-shrink-0">
                                            <img class="img-md rounded-circle" src="./assets/img/profile-photos/1.png" alt="Profile Picture" loading="lazy">
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <a href="#" class="h5 stretched-link text-decoration-none">Aaron Chavez</a>
                                            <p class="text-muted m-0">CEO</p>
                                        </div>
                                    </div>
                                    <small>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem, ipsa?</small>
                                    <!-- END : Profile picture and short information -->

                                    <!-- Options buttons -->
                                    <div class="mt-3 pt-2 text-center border-top">
                                        <div class="d-flex justify-content-center gap-3">
                                            <a href="#" class="btn btn-sm bg-transparent btn-underlined">
                                                <i class="d-block demo-pli-consulting text-muted fs-3 mb-2"></i> Call
                                            </a>
                                            <a href="#" class="btn btn-sm bg-transparent btn-underlined">
                                                <i class="d-block demo-pli-mail text-muted fs-3 mb-2"></i> Email
                                            </a>
                                            <a href="#" class="btn btn-sm bg-transparent btn-underlined">
                                                <i class="d-block demo-pli-pen-5 text-muted fs-3 mb-2"></i> Edit
                                            </a>
                                        </div>
                                    </div>
                                    <!-- END : Options buttons -->

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
                            <div class="card">
                                <div class="card-body">

                                    <!-- Profile picture and short information -->
                                    <div class="d-flex align-items-center position-relative pb-3">
                                        <div class="flex-shrink-0">
                                            <img class="img-md rounded-circle" src="./assets/img/profile-photos/7.png" alt="Profile Picture" loading="lazy">
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <a href="#" class="h5 stretched-link text-decoration-none">Kathryn Obrien</a>
                                            <p class="text-muted m-0">Co-CEO</p>
                                        </div>
                                    </div>
                                    <small>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem, ipsa?</small>
                                    <!-- END : Profile picture and short information -->

                                    <!-- Options buttons -->
                                    <div class="mt-3 pt-2 text-center border-top">
                                        <div class="d-flex justify-content-center gap-3">
                                            <a href="#" class="btn btn-sm bg-transparent btn-underlined">
                                                <i class="d-block demo-pli-consulting text-muted fs-3 mb-2"></i> Call
                                            </a>
                                            <a href="#" class="btn btn-sm bg-transparent btn-underlined">
                                                <i class="d-block demo-pli-mail text-muted fs-3 mb-2"></i> Email
                                            </a>
                                            <a href="#" class="btn btn-sm bg-transparent btn-underlined">
                                                <i class="d-block demo-pli-pen-5 text-muted fs-3 mb-2"></i> Edit
                                            </a>
                                        </div>
                                    </div>
                                    <!-- END : Options buttons -->

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
                            <div class="card">
                                <div class="card-body">

                                    <!-- Profile picture and short information -->
                                    <div class="d-flex align-items-center position-relative pb-3">
                                        <div class="flex-shrink-0">
                                            <img class="img-md rounded-circle" src="./assets/img/profile-photos/3.png" alt="Profile Picture" loading="lazy">
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <a href="#" class="h5 stretched-link text-decoration-none">Stephen Tran</a>
                                            <p class="text-muted m-0">Marketing manager</p>
                                        </div>
                                    </div>
                                    <small>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem, ipsa?</small>
                                    <!-- END : Profile picture and short information -->

                                    <!-- Options buttons -->
                                    <div class="mt-3 pt-2 text-center border-top">
                                        <div class="d-flex justify-content-center gap-3">
                                            <a href="#" class="btn btn-sm bg-transparent btn-underlined">
                                                <i class="d-block demo-pli-consulting text-muted fs-3 mb-2"></i> Call
                                            </a>
                                            <a href="#" class="btn btn-sm bg-transparent btn-underlined">
                                                <i class="d-block demo-pli-mail text-muted fs-3 mb-2"></i> Email
                                            </a>
                                            <a href="#" class="btn btn-sm bg-transparent btn-underlined">
                                                <i class="d-block demo-pli-pen-5 text-muted fs-3 mb-2"></i> Edit
                                            </a>
                                        </div>
                                    </div>
                                    <!-- END : Options buttons -->

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
                            <div class="card">
                                <div class="card-body">

                                    <!-- Profile picture and short information -->
                                    <div class="d-flex align-items-center position-relative pb-3">
                                        <div class="flex-shrink-0">
                                            <img class="img-md rounded-circle" src="./assets/img/profile-photos/5.png" alt="Profile Picture" loading="lazy">
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <a href="#" class="h5 stretched-link text-decoration-none">Donald Brown</a>
                                            <p class="text-muted m-0">Programmer</p>
                                        </div>
                                    </div>
                                    <small>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem, ipsa?</small>
                                    <!-- END : Profile picture and short information -->

                                    <!-- Options buttons -->
                                    <div class="mt-3 pt-2 text-center border-top">
                                        <div class="d-flex justify-content-center gap-3">
                                            <a href="#" class="btn btn-sm bg-transparent btn-underlined">
                                                <i class="d-block demo-pli-consulting text-muted fs-3 mb-2"></i> Call
                                            </a>
                                            <a href="#" class="btn btn-sm bg-transparent btn-underlined">
                                                <i class="d-block demo-pli-mail text-muted fs-3 mb-2"></i> Email
                                            </a>
                                            <a href="#" class="btn btn-sm bg-transparent btn-underlined">
                                                <i class="d-block demo-pli-pen-5 text-muted fs-3 mb-2"></i> Edit
                                            </a>
                                        </div>
                                    </div>
                                    <!-- END : Options buttons -->

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>
{% endblock %}