{% extends 'base.html' %}
{% block title %}Weather{% endblock %}
{% block content %}
<h4>Enter below city, location, region etc. for weather</h4>

<form class="searchbox searchbox--auto-expand searchbox--hide-btn input-group">
    <input id="header-search-input" class="searchbox__input form-control bg-transparent" type="search"
           placeholder="Type here . . ." aria-label="Search">
    <div class="searchbox__backdrop">
        <button class="searchbox__btn header__btn btn btn-icon rounded shadow-none border-0 btn-sm" type="button"
                id="button-addon2">
            <i class="demo-pli-magnifi-glass"></i>
        </button>
    </div>
</form>
<div class="table-responsive mw-100">
    <table class="table align-middle">
        <thead>
        <tr>
            <th>#</th>
            <th>City</th>
            <th>Coordinates</th>
            <th class="text-center">Wind M/S</th>
            <th class="text-center">Clouds</th>
            <th class="text-center">Atmospheric Pressure</th>
            <th class="text-center">Weather Condition</th>
            <th class="text-center">Temperature</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="min-w-td">{{forloop.counter}}</td>
            <td class="fs-5"><span class="d-block badge bg-primary">{{farm.service}}</span></td>
            <td class="fs-5"><span class="d-block badge bg-warning">{{farm.description}}</span></td>
            <td class="fs-5"><span class="d-block badge bg-secondary">{{farm.description}}</span></td>
            <td class="fs-5"><span class="d-block badge bg-info">{{farm.description}}</span></td>
            <td class="fs-5"><span class="d-block badge bg-purple">{{farm.description}}</span></td>
            <td class="fs-5"><span class="d-block badge bg-success">{{farm.description}}</span></td>
            <td class="fs-5"><span class="d-block badge bg-danger">{{farm.description}}</span></td>
        </tr>
        </tbody>
    </table>
</div>
<br>
<br>
<br>
<br>
<h4>Weather forecasts for some major cities in Ghana {% now 'l G:i' %} GMT</h4>
<div class="table-responsive mw-100">
    <table class="table align-middle">
        <thead>
        <tr>
            <th>#</th>
            <th>City</th>
            <th>Coordinates</th>
            <th class="text-center">Wind M/S</th>
            <th class="text-center">Clouds</th>
            <th class="text-center">Atmospheric Pressure</th>
            <th class="text-center">Weather Condition</th>
            <th class="text-center">Temperature</th>
        </tr>
        </thead>
        <tbody>
        {% for farm in products %}
        <tr>
            <td class="min-w-td">{{forloop.counter}}</td>
            <td class="fs-5"><span class="d-block badge bg-primary">{{farm.service}}</span></td>
            <td class="fs-5"><span class="d-block badge bg-warning">{{farm.description}}</span></td>
            <td class="fs-5"><span class="d-block badge bg-secondary">{{farm.description}}</span></td>
            <td class="fs-5"><span class="d-block badge bg-info">{{farm.description}}</span></td>
            <td class="fs-5"><span class="d-block badge bg-purple">{{farm.description}}</span></td>
            <td class="fs-5"><span class="d-block badge bg-success">{{farm.description}}</span></td>
            <td class="fs-5"><span class="d-block badge bg-danger">{{farm.description}}</span></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}