// COLORS
// ----------------------------------------------

$white                                  : #fff;
$black                                  : #000;
$primary                                : #83b047;
$gray                                   : desaturate( mix( #e3e5e7, $primary, 85%), 50% );





// BODY
// ----------------------------------------------
$body-bg                                : desaturate( tint-color( $primary, 95% ), 50%);
$body-color                             : #7a878e;


// Components active state
// ----------------------------------------------
$component-active-color                 : $white;
$component-active-bg                    : $primary;


// Border-variables
// ----------------------------------------------
$border-width                           : 1px;
$border-color                           : shade-color( $body-bg, 5% );


// links and Headings
// ----------------------------------------------
$link-color                             : shade-color( $component-active-bg, 5% );
$link-shade-percentage                  : 35%;
$link-hover-color                       : shade-color( $link-color, $link-shade-percentage );
$headings-color                         : shade-color( $component-active-bg, 50% );


// Boxed layout
// ----------------------------------------------
$boxed-layout-bg-color                  : mix( #bbb, shade-color( $primary, 70% ), 95%);





// COMPONENTS
// ----------------------------------------------

// Breadcrumbs
// ----------------------------------------------
$breadcrumb-divider-color               : tint-color( $primary, 40% );




// Searchbox
// ----------------------------------------------
$searchbox-focus-bg                     : rgba( $black, .075 );





// CONTENTS
// ----------------------------------------------
$content-bg                             : $body-bg;
$content-color                          : $body-color;
$content-title-color                    : $primary;




// MAIN NAVIGATION
// ----------------------------------------------
$mainnav-bg                             : #fdfdfd;
$mainnav-color                          : tint-color( $content-color, 5% );


// Menu
// ----------------------------------------------
$mainnav-menu-hover-color               : shade-color( $component-active-bg, 97% );
$mainnav-menu-active-color              : $component-active-bg;
$mainnav-menu-icon-color                : tint-color($mainnav-color, 55%);
$mainnav-menu-active-icon-color         : $component-active-color;


// Max Mode
// ----------------------------------------------
$mainnav-menu-hover-color               : shade-color( $component-active-bg, 37% );
$mainnav-max-menu-active-bg             : $component-active-bg;
$mainnav-max-menu-active-color          : $component-active-color;


// Mini mode
// ----------------------------------------------
$mainnav-min-menu-active-bg            : $mainnav-max-menu-active-bg;
$mainnav-mini-menu-active-color         : $mainnav-max-menu-active-color;





// HEADERS
// ----------------------------------------------
$header-bg                              : $primary;
$header-color                           : tint-color( $primary, 75% );
$header-btn-hover-bg                    : $searchbox-focus-bg;
$header-btn-hover-color                 : tint-color( $header-color, 20% );


// Expanded Header
// ----------------------------------------------
$header-expand-bg                       : $header-bg;
$header-expand-color                    : darken( $header-color, 5% );
$header-expand-headings-color           : tint-color($gray, 30%);
$header-expand-title-color              : tint-color($gray, 70%);
$header-expand-use-start-ouside-radius  : true;


// Brand
// ----------------------------------------------
$brand-color                            : tint-color( $header-color, 70% );





// SIDEBAR
// ----------------------------------------------
$sidebar-bg                             : $content-bg;
$sidebar-color                          : $content-color;


// Unite sidebar
// ----------------------------------------------
$sidebar-unite-bg                       : $component-active-bg;
$sidebar-unite-color                    : $header-color;
$sidebar-unite-active-color             : $component-active-color;
$sidebar-unite-border-color             : shade-color($component-active-bg, 8%);